body {
   background-color: #fff;
   margin: 0;
   background-image: url(../images/pagebackground.jpg);
   background-repeat: repeat-x;
   font-family: arial, helvetica, sans-serif;
}

.container {
   width: 975px;
   padding: 0 25px;
   height: 573px;
   margin: auto;
   background-image: url(../images/wolfhomepage.jpg);
   padding-top: 442px;
   background-repeat: no-repeat;
}

.earlybird {
   color: #fff200;
}
/* ribbon style */

.ribbon-wrapper {
   position: relative;
   color: white;
   line-height: 60px;
   text-align: center;
}

.ribbon-front {
   background-color: #B58900; height: 60px;
   width: 1015px;
   position: relative;
   left:-20px;
   z-index: 2;
}

.ribbon-front,
.ribbon-back-left,
.ribbon-back-right {
   -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   -o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

.ribbon-edge-topleft,
.ribbon-edge-topright,
.ribbon-edge-bottomleft,
.ribbon-edge-bottomright {
   position: absolute;
   z-index: 1;
   border-style:solid;
   height:0px;
   width:0px;
}

.ribbon-edge-topleft,
.ribbon-edge-topright {
}

.ribbon-edge-bottomleft,
.ribbon-edge-bottomright {
   top: 60px;
}

.ribbon-edge-topleft,
.ribbon-edge-bottomleft {
   left: -20px;
   border-color: transparent #513E01 transparent transparent;
}

.ribbon-edge-topleft {
   top: -10px;
   border-width: 10px 20px 0 0;
}
  .ribbon-edge-bottomleft {
   border-width: 0 20px 0px 0;
}

.ribbon-edge-topright,
.ribbon-edge-bottomright {
   left: 975px;
   border-color: transparent transparent transparent #513E01;
}

.ribbon-edge-topright {
   top: -10px;
   border-width: 10px 0 0 20px;
}

.ribbon-edge-bottomright {
   border-width: 0 0 0px 20px;
}

.ribbon-back-left {
   position: absolute;
   top: -10px;
   left: -60px;
   width: 60px;
   height: 60px;
   background-color: #B58900; z-index: 0;
}

.ribbon-back-right {
   position: absolute;
   top: -10px;
   right: -60px;
   width: 60px;
   height: 60px;
   background-color: #B58900; z-index: 0;
}

.country-flag {
   vertical-align: -4px;
   margin-right: 8px;
}
